/*   ----- Imports  -----  */                       

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap');

/*   ----- Variables  -----  */
:root {
  /* fonts */
  --mainFont: 'IBM Plex Mono', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #000;
  color: #FFF;
  font-family: var(--mainFont);
  letter-spacing: 1px;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header > h1 {
  white-space: nowrap;
}

a {

}
a:hover {

}

body {

}

h1 {

}

button {

}
button:hover {

}
button:focus,
button:focus-visible {

}

@media (prefers-color-scheme: light) {
  :root {

  }
  a:hover {

  }
  button {

  }
}

.fighter-list {
  margin-top: 50px;
}

.fighter-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
  background-color: inherit;
  color: inherit;
  width: 300px;
  height: fit-content;
  border-radius: 5px;
  border: 2px solid #FFF;
  padding: 5px 10px;
  font-size: 20px;
}

.fighter-card--body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fighter-card--header {
  display: flex;
  gap: 12px;
  margin-bottom: -10px;
}

.fighter-card--header > h5 {
  display: flex;
  gap: 2px;
  align-items: center;
}

#curr-turn {
  display: flex;
  margin-left: -50px;
  align-items: center;
}

.fighter-card--stats {
  width: 100%;
}

.fighter-card--stats > h5 {
  display: flex;
  align-items: center;
  /* gap: 3px; */
}

#health {
  gap: 7px;
}

.health-container {
  width: 100%;
  background: #000;
  border: 2px solid #FFF;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
  height: 10px;
  margin-bottom: 1px;
}

.health-container .health-container--bar {

}