:root {

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {

}
a:hover {

}

body {

}

h1 {

}

button {

}
button:hover {

}
button:focus,
button:focus-visible {

}

@media (prefers-color-scheme: light) {
  :root {

  }
  a:hover {

  }
  button {

  }
}
