/*  ----- Imports  -----  */                       

/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=VT323&display=swap');

/*  ----- Variables  -----  */
:root {
  /* fonts */
  --mainFont: 'IBM Plex Mono', monospace;

  /* colors */
  --primaryLight: #FFF;
  --primaryDark: #000;
  --secondaryLight: #dadada;
  --secondaryDark: #1e1e1e;

  /* sizes */
  --mainWidth: 300px;
  --marginTop: 50px;
  --fontSize: 18px;
  --borderRadius: 5px;
  --gapMd: 7px;
}

/*  ----- Reset  -----  */
*,
::after, 
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*  ----- Main -----  */
html {
  background-color: var(--primaryDark);
  color: var(--primaryLight);
  font-family: var(--mainFont);
  letter-spacing: 1px;
  position: relative;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

header > h1 {
  white-space: nowrap;
}

/*  ----- Buttons -----  */
.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--gapMd);
}

button,
input[type=submit] {
  width: var(--mainWidth);
  background-color: inherit;
  color: inherit;
  height: fit-content;
  border-radius: var(--borderRadius);
  border: 4px solid #FFF;
  padding: 5px 10px;
  font-size: 20px;
  display: flex;
  gap: var(--gapMd);
  justify-content: center;
  align-items: center;
}

input[type=submit] {
  margin: 7px 0;
}

button:disabled,
button[disabled] {
  background-color: var(--secondaryDark);
  color: var(--secondaryLight);
}

button:active:enabled,
input[type=submit]:active {
  color: var(--primaryDark);
  background-color: var(--primaryLight);
}

/*  ----- Form -----  */
.add-form {
  margin-top: var(--marginTop);
}

.form-inputs {
  border-radius: var(--borderRadius);
  border: 4px solid #FFF;
  padding: 5px 10px;
  font-size: 20px;
  margin-bottom: 10px;
}

form > .form-inputs > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.form-inputs > div > input {
  background: inherit;
  border: 2px solid #575757;
  border-radius: var(--borderRadius);
  padding: 5px 10px;
  color: inherit;
  font-size: var(--fontSize);
}

.form-inputs > div > input[type=number] {
  align-self: center;
  width: 45px;
  text-align: center;
}

input:not[type=submit] {
  background-color: var(--primaryDark);
}

/*  ----- Fighters -----  */
.fighter-list {
  margin-top: var(--marginTop);
}

.fighter-card {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 6px;
  background-color: inherit;
  color: inherit;
  width: var(--mainWidth);
  height: fit-content;
  border-radius: var(--borderRadius);
  border: 4px solid #FFF;
  padding: 5px 10px;
  font-size: 20px;
}

.fighter-card--body {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fighter-card--header {
  display: flex;
  gap: 12px;
  margin-bottom: -10px;
}

.fighter-card--header > h5 {
  display: flex;
  gap: 2px;
  align-items: center;
}

#curr-turn {
  display: flex;
  margin-left: -50px;
  align-items: center;
}

.fighter-card--stats {
  width: 100%;
  margin-top: 12px;
}

.fighter-card--stats > h5 {
  display: flex;
  align-items: center;
}

/*  ----- Health -----  */
#health {
  gap: var(--gapMd);
}

.health-container {
  width: 100%;
  background: #000;
  border: 2px solid #FFF;
  padding: 1px;
  border-radius: 20px;
  overflow: hidden;
  height: 10px;
  margin: 1px 7px;
}

/*  ----- Die Roller -----  */
.die-roller {
  display: flex;
  width: var(--mainWidth);
  margin-top: 100px;
  align-items: center;
  gap: var(--gapMd);
}

.die-roller > input {
  width: 50px;
  height: 36px;
  background: inherit;
  border: 2px solid #575757;
  border-radius: var(--borderRadius);
  padding: 5px 10px;
  color: inherit;
  font-size: var(--fontSize);
  text-align: center;
}

.die-roller > span {
  font-size: 25px;
}

.result {
  display: table;
}

/*  ----- Input Alignment -----  */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}